.header{
    background-color: $colour_white;
    height: 40px;
    padding-top: 20px;
    position: relative;
    &__back{
        cursor: pointer;
        position: absolute;
        left: 30%;
        @include mobile-only{
            left: 15px;
        }
        top: 24px;
        font-size: 20px;
        &--inactive{
            display: none;
        }
    }
    &__logo{
        text-align: center;
        & img{
            width: 200px;
        }
    }
}