.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    animation: invisibling 0.1s 4s both;

    &__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        color: $colour_white;
        font-size: 1.2em;
        z-index: 11;
        transform: translate(-50%, -50%);
        $effect_dur: 0.5s;
        $effect_delay: $intro_dur - $effect_dur;
        animation: apparition2 $effect_dur ease-in $effect_delay reverse both;
    }

    &__loader {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 170px;
        height: 170px;
        @include myborder_intro;        
        $effect_delay: 0.1s;
        animation: spin $intro_dur $effect_delay linear both;
        z-index: 11;
        
        &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        @include myborder_intro($colour_green);
        $effect_delay: 0.3s;
        animation: spin-reverse $intro_dur $effect_delay linear both;
        }
        
        &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        @include myborder_intro($colour_purple);
        $effect_delay: 0.05s;
        animation: spin-reverse $intro_dur $effect_delay linear both;
        }
    }
    
    &__pan {
        position: fixed;
        width: 100%;
        height: 51%;
        background: $colour_darkengrey2;
        z-index: 10;
        &__top{
            $effect_dur: 1s;
            $effect_delay: $intro_dur - $effect_dur;
            animation: pantop $effect_dur $effect_delay cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
            top: 0;
        }
        &__bottom{
            $effect_dur: 0.8s;
            $effect_delay: $intro_dur - $effect_dur;
            animation: panbottom $effect_dur $effect_delay cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
            bottom: 0;
        }
    }
}