.like{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: 30px;
    font-size: 25px;
    &--empty{
        position: absolute;
        opacity: 1;
        transition: opacity 0.5s 10ms;
    }
    &--full{
        color: $colour_purple;
        opacity: 0;
        transition: opacity 0.9s 100ms;
    }
    &:hover{
        & .like--full{
            opacity: 1;
        }
        & .like--empty{
            opacity: 0;
        }
    }
}