body {
    box-sizing: border-box;
    background: $colour_white;
    position: relative;
    margin: 0;
    padding: 0;
}

.bloc__page{
    box-sizing: border-box;
    width: 100%;
    @include wildscreen-only;
    margin: auto;
    &__index{
        $effect_dur: 0.5s;
        $effect_delay: $intro_dur - $effect_dur;
        animation: apparition $effect_dur ease-in $effect_delay both;
    }
}