body {
    font-family: 'Roboto', sans-serif;
}

.font_Shrikhand{
    font-family: 'Shrikhand', cursive;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
}

h3{
    font-size: 1.3em;
    font-weight: bold;
}

p{
    font-size: 1.1em;
    font-weight: lighter;
}

ul{
    font-size: 1.1em;
    list-style-type: none;
    padding-left: 0px;
}

a{
    text-decoration: none;
}