.block_menu{
    display: flex;
    flex-direction: column;
    &__img{
        height: 300px;
        @include more-than-mobile{
            height: 500px;
        }
        position: relative;
        overflow: hidden;
        &:after{
            content: "";
            position:absolute;
            width:100%;
            height:40px;
            left: 0;
            bottom: 0;
            border-radius: 200px 200px 0 0;
            background-color: $colour_white;
        }
    }
}

.section_menu{
    background-color: $colour_white;
    width: 100%;
    padding-bottom: 40px;
}

.menu{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    @include mobile-only{
        width: 100%;
    }
    
    &__title{
        position: relative;
        & h1{
            width: 70%;
        }
    }

    & h1, h2, hr, h3, p{
        margin: 5px 0 5px 20px;
        text-overflow: ellipsis;
    }

    & h2{
        margin-top: 40px;
    }

    & hr{
        @include myhr;
        margin-top: 5px;
    }

    &__item{
        @for $i from 3 to 6 {
            &:nth-child(4n+#{$i}){
                $delay: $i*0.2s;
                animation: apparition 1s $delay both;
            }
        }

        width: 95%;
        @include mybtn($colour_black, $colour_white, 0px);
        overflow: hidden;
        display: flex;

        &__description{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 15px 10px 15px 20px;
            font-size: 1em;
            & span{
                font-size: 1.2em;
                font-weight: bold;
            }
            width: 100%;
            transition: width 0.3s ease-in-out;
        }

        &__price{
            width: 10%;
            height: 100%;
            margin-top: 35px;
            margin-right: 10px;
            transform: translateX(100%);
            transition: all 0.3s ease-in-out;
        }

        &__check{
            & .fa-check-circle{
                transform: rotate(-360deg);
                transition: all 0.6s ease-in-out;
            }
            background-color: $colour_green;
            height: auto;
            transform: translateX(100%);
            width: 20%;
            font-size: 25px;
            color: $colour_white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-in-out;
        }

        &:hover{
            & > .menu__item__check{
                transform: translateX(0%);
            }
            & > .menu__item__price{
                transform: translateX(20%);
            }

            & > .menu__item__description{
                width: 70%;
            }
            & .fa-check-circle{
                transform: rotate(0deg);
            }
        }
    }

    &__btn{
        width: 200px;
        @include mybtn;
        margin-top: 20px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:hover{
            box-shadow: 5px 5px 20px -6px $colour_black;
            &::after{
                opacity: 1;
            }
        }
        &::after{
            @include pseudo-pos;
            @include mybtn-hovered;
        }
    }
}