.block_menu{
    position: relative;
    height: 2000px;
    @media (min-width: 821px) and (max-width: 1150px) {
        height: 1800px;
    }
    @media (min-width: 801px) and (max-width: 820px){
        height: 1650px;
    }
    @media (min-width: 451px) and (max-width: 800px){
        height: 1550px;
    }
    @media (min-width: 0px) and (max-width: 450px){
        height: 1450px;
    }

    &__img{
        position: absolute;
        top: 0;
    }
}

.section_menu{
    position: absolute;
    background-color: $colour_white;
    width: 100%;
    border-radius: 40px;
    bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.menu{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    @include mobile-only{
        width: 100%;
    }
    
    &__title{
        position: relative;
    }

    & h1, h2, hr, h3, p{
        margin: 5px 0 5px 20px;
        text-overflow: ellipsis;
    }

    & h2{
        margin-top: 40px;
    }

    & hr{
        @include myhr;
        margin-top: 5px;
    }

    &__item{
        @for $i from 3 to 6 {
            &:nth-child(4n+#{$i}){
                $delay: $i*0.2s;
                animation: apparition 1s $delay both;
            }
        }

        width: 95%;
        @include mybtn($colour_black, $colour_white, 0px);
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        position: relative;
        &__desc, &__title{
            width: 70%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__price{
            position: absolute;
            bottom: 9px;
            right: 20px;
        }

        &__check{
            & .fa-check-circle{
                transform: rotate(-360deg);
                transition: all 0.5s ease-in-out;
            }

            position: absolute;
            right: -70px;
            top: 0;
            font-size: 25px;
            background-color: $colour_green;
            color: $colour_white;
            height: 100%;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        & > * {
            transition: all 0.5s ease-in-out;
        }

        &:hover{
            & > .menu__item__check, > .menu__item__price{
                transform: translateX(-70px);
            }
            & .fa-check-circle{
                transform: rotate(0deg);
            }
        }
    }

    &__btn{
        width: 200px;
        @include mybtn;
        margin-top: 20px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:hover{
            box-shadow: 5px 5px 20px -6px $colour_black;
            &::after{
                opacity: 1;
            }
        }
        &::after{
            @include pseudo-pos;
            @include mybtn-hovered;
        }
    }
}

@keyframes apparition {
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}