@mixin mypaddingsection {
    padding-top: 35px;
    padding-bottom: 50px;
}

@mixin myboxshadow {
    box-shadow: 5px 5px 25px -12px $colour_black;
}

@mixin myborderradius {
    border-radius: $myborderradiusvar;
}

@mixin mybtn($color_txt: $colour_white, $color_bg: $colour_mygrad, $padding : 18px){
    margin: 10px auto 10px auto;
    border: none;
    padding: $padding;
    background: $color_bg;
    color: $color_txt;
    font-size: 1em;
    @include myboxshadow;
    @include myborderradius;
    cursor: pointer;
}
@mixin mybtn-hovered {
    background: $colour_mygrad_lighten;
    opacity: 0;
    z-index: -1;
}

@mixin myhr {
    width: 10%;
    margin-top: 0;
    margin-bottom: 0;
    height: 3px;
    border: none;
    background-color: $colour_green;
}

@mixin pseudo-pos {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
}

@mixin mobile-only {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin wildscreen-only {
    @media screen and (min-width: 1500px) {
        width: 1500px;
    }
}