$colour_grey: #F2F2F2;
$colour_darkengrey: #e2e2e2;
$colour_darkengrey2: #242424;
$colour_pink: #f56dee;
$colour_purple: #9948c7;
$colour_white: #FFFFFF;
$colour_black: #000000;
$colour_green: #81d1b6;

$myborderradiusvar: 30px;